.MatchPage {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 20px;

    .year-selector {
        justify-self: end;
        padding: 20px;
        color: rgb(79, 184, 184);
        .ipl-Icon{
            width: 100px;
            border-radius: 5px;
           
}
        
    }

    .page-heading {
        margin: 20px auto;
        color: rgb(79, 184, 184);
    }
}
.Select-Year{
    color: rgb(79, 184, 184);
}